<div class="main-content nopadding">
    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="immap-fb-grid">
                <div class="col-md-12 center-block-v2 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://app.powerbi.com/view?r=eyJrIjoiZGExYWM3NzItMTI4YS00YTUzLWE5OGItOGQwMjJhMmFiMGM3IiwidCI6ImY2ZjcwZjFiLTJhMmQtNGYzMC04NTJhLTY0YjhjZTBjMTlkNyIsImMiOjF9">
                        </iframe>
                    </div>
                </div>
                    <a type="button" data-toggle="modal" class="btn btn-info btn-lg btn-info-fb" href='#modal-info'>
                        <i class="pe-7s-info"></i>
                    </a>
            </div>
        </div>
    </div>
</div>
