.immap-fb-grid {
  position: relative;
    overflow-x: hidden;
}

.immap-fb-grid .btn, .immap-fb-grid i {
  font-size: xx-large;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}
.btn-info-fb{
    position: fixed;
    right: -5px;
    top: 10vh;
}
