
<div class="wrapper">
  <div class="sidebar" data-color="gray" data-image="">
      <app-sidebar></app-sidebar>
      <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <router-outlet></router-outlet>
      <div *ngIf="isMap('maps')">
          <footer-cmp></footer-cmp>
      </div>
  </div>

</div>

<div class="modal fade" id="modal-info">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Información sobre los datos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="immap-fb-grid">
                    <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                      <i class="pe-7s-pin"></i>
                    </span>                    
                    <span class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                      <p class=text-justify>
                          Los datos son recolectados cada 15 días, mediante el API de mercadeo de Facebook. Los estimados mostrados
                          estan basados en los filtros utilizados y en el comportamiento de los usuarios en los últimos 30 días. 
                          Obtén mas información sobre el <a href="https://www.facebook.com/business/help/1665333080167380">alcance potencial</a>
                      </p>
                    </span>                      
                  </div>
                </div>

                <div class="row">
                    <div class="immap-fb-grid">
                        <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <i class="pe-7s-pin"></i>
                        </span>                    
                        <span class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <p class=text-justify>
                                Los estimados presentados no están diseñados para coincidir con censos u otras fuentes oficiales.
                                Facebook no provee censos digitales o conteos de migrantes y/o refugiados. Estos estimados deben
                                ser vistos como una señal par ser utilizada en triangulación.
                        </p>
                        </span>                      
                    </div>
                </div>

                <div class="row">
                    <div class="immap-fb-grid">
                        <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                        <i class="pe-7s-pin"></i>
                        </span>                    
                        <span class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <p class=text-justify>
                                Facebook solo provee la definición del comportamiento seleccionado (Expatriados Venezuela). No provee datos estadísticos ni históricos
                        </p>
                        </span>                      
                    </div>
                </div>

                <div class="row">
                        <div class="immap-fb-grid">
                            <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
                            <i class="pe-7s-pin"></i>
                            </span>                    
                            <span class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p class=text-justify>
                                    El comportamiento depende de la información proporcionada por el usuario en Facebook, su ciudad actual 
                                    y ciudad de origen y la estructura de la red de amigos (por ejemplo, tener al menos dos amigos de Facebook 
                                    en el país de origen y dos amigos de Facebook en el país de destino). Leer más:  
                                    <a href="https://ingmarweber.de/wp-content/uploads/2017/10/Leveraging-Facebooks-Advertising-Platform-to-Monitor-Stocks-of-Migrants.pdf">
                                        Leveraging Facebook’s Advertising Platform to Monitor Stocks of Migrants, ZAGHENI, Emilio. WEBER, Ingmar. GUMMADI, Krishna</a>
                            </p>
                            </span>                      
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
            </div>
          </div>
        </div>
      </div>
