<div class="main-content">
    <div class="container-fluid">

      <div class="row">
          <div class="col-md-2 col-md-offset-2">
              <button type="button" (click)="filterValue.type =''" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type ==''}" *ngIf='globals.language == "ES"'>Todos</button>
              <button type="button" (click)="filterValue.type =''" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type ==''}" *ngIf='globals.language == "EN"'>All</button>
          </div>
          <div class="col-md-2">
              <button type="button" (click)="filterValue.type ='map-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='map-prod'}" *ngIf='globals.language == "ES"'>Mapas</button>
              <button type="button" (click)="filterValue.type ='map-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='map-prod'}" *ngIf='globals.language == "EN"'>Maps</button>
          </div>
          <div class="col-md-2">
              <button type="button" (click)="filterValue.type ='infographic-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='infographic-prod'}" *ngIf='globals.language == "ES"'>Infografías</button>
              <button type="button" (click)="filterValue.type ='infographic-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='infographic-prod'}" *ngIf='globals.language == "EN"'>Infographics</button>
          </div>
          <div class="col-md-2">
              <button type="button" (click)="filterValue.type ='doc-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='doc-prod'}" *ngIf='globals.language == "ES"'>Documentos</button>
              <button type="button" (click)="filterValue.type ='doc-prod'" 
              [ngClass]="{'btn btn-default btn-block': true, 'btn-fill': filterValue.type =='doc-prod'}" *ngIf='globals.language == "EN"'>Documents</button>
          </div>
      </div>

        <div class="grid-container">
            <div class="row">
                <div [@zoomIn]="zoomIn" [@zoomOut]="zoomOut" class="prod col-md-3 {{product.type}}" *ngFor="let product of products | filterBy: filterValue">
                  <div class="card">
                      <div class=header>
                        <h4 class="title">{{product.name}}</h4>
                        <p class="category" *ngIf='globals.language == "ES"'><a target="_blank" href="{{product.URL}}">Abrir</a></p>
                        <p class="category" *ngIf='globals.language == "EN"'><a target="_blank" href="{{product.URL}}">Open</a></p>
                      </div>
                      <div class=content>                            
                        <a target="_blank" href="{{product.URL}}"><img src="../../assets/img/portfolio/{{product.img}}" class="img-responsive" alt="{{product.name}}"></a>
                      </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>
