<div class="main-content">
    <div class="container-fluid">
        <form>
            <div class="form-group form-inline">
                Buscar: <input class="form-control ml-2" type="text" [formControl]="filter"/>
            </div>
        </form>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Area</th>
          <th scope="col">Population</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let source of sources$ | async;">
          <td>
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + source.flag" class="mr-2" style="width: 20px">
            <ngb-highlight [result]="source.name" [term]="filter.value"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="source.area | number" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="source.population | number" [term]="filter.value"></ngb-highlight></td>
        </tr>
        </tbody>
      </table>
    </div>
</div>

