<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>        
            
            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
                
            <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    <i class="pe-7s-global"></i> | <span *ngIf='globals.language=="ES"'>ES</span><span *ngIf='globals.language=="EN"'>EN</span>
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a (click)="changedLan('ES')" href="javascript:void(0)"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg" class="mr-2" style="width: 20px"> ES</a></li>
                                <li><a (click)="changedLan('EN')" href="javascript:void(0)"><img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_the_United_Kingdom.svg" class="mr-2" style="width: 20px"> EN</a></li>
                            </ul>
                        </li>
                        <li>
                                <a href="mailto:contacto@immap.org">contacto@immap.org</a>
                        </li>
                        <div class="logo-img">
                                <a href="https://immap.org/" >
                                    <img class="img-responsive" src="/assets/img/iMMAP Brand Identity_Full Color.png"/>
                                </a>
                        </div>
            </ul>            
        </div>
    </div>
</nav>
