
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="https://immap.org/" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/logo_immap_blanco.png"/>
            </div>
            <span *ngIf="sidebarVisible">Colombia</span>
        </a>
    </div>
    <ul class="nav responsive-nav">        
        <!-- <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li> -->
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p *ngIf="sidebarVisible">{{menuItem.title}}</p>
            </a>
        </li>
        <span (click)="sidebarToggle()" class="btn-toggle-sidebar">
                <i *ngIf="sidebarVisible" class="pe-7s-angle-left-circle"></i>
                <i *ngIf="!sidebarVisible" class="pe-7s-angle-right-circle"></i>
        </span>
    </ul>
    
</div>
