<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <p class="copyright center-block">
                iMMAP Regional Office, Cra. 13 # 93 - 12 OIC 304, Bogotá, Colombia.
            </p>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="http://www.immap.org">IMMAP</a>, Better Data, Better Decisions, Better Outcomes. <a href="mailto:contacto@immap.org">contacto@immap.org</a>
        </p>
    </div>
</footer>
